<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1><%= @task.title %></h1>
    <%= link_to "Edit this task", edit_path, class:"btn btn-secondary" %>
  </div>
  <div class = "task">
    <%= @task.details %>
  </div>
  <%= @task.completed ? "this task is completed" : "this task is not completed yet" %> <br>

  <%= link_to "Back to list", tasks_path %>

</div>
